Repository Colack/Standard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Colack, @MonsterYT-DaGamer, @Varrience

Update README.beans
  .beansproject/README.beans
Owners: @Colack

Update credits.js
  src/lib/other/credits.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Update credits.js
  src/lib/other/credits.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Update CREDITS
  docs/CREDITS
Owners: none

Create localLib()
  src/lib/values/vals.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Create getThumbnail()
  src/lib/values/dumper.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Update .gitignore
  .gitignore
Owners: @Colack

Overhaul optimization of formatDate()
  src/lib/values/time.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

TS => JS conversion of formatDate()
  src/lib/values/time.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Update time.js
  src/lib/values/time.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Update .gitignore
  .gitignore
Owners: @Colack

Create windows.js
  src/tests/lib/other/windows.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Create README.md
  src/gamelab/README.md
Owners: none

Rename src/lib/console/diagonal.js to src/applab/console/diagonal.js
  src/applab/console/diagonal.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/console/terminal.js to src/applab/console/terminal.js
  src/applab/console/terminal.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/imports.js to src/applab/imports.js
  src/applab/imports.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/LICENSE to src/applab/LICENSE
  src/applab/LICENSE
Owners: none

Create LICENSE
  src/gamelab/LICENSE
Owners: none

Rename src/lib/README.md to src/applab/README.md
  src/applab/README.md
Owners: none

Rename src/lib/display/windows.js to src/applab/display/windows.js
  src/applab/display/windows.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/other/credits.js to src/applab/other/credits.js
  src/applab/other/credits.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/utility/status.js to src/applab/utility/status.js
  src/applab/utility/status.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

ASCII & UTF-8 interchanibility
  src/lib/values/stringy.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Minor function argument fix
  src/lib/values/stringy.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Delete .beansproject directory
  .beansproject/Build.bgen
  .beansproject/Information.btype
  .beansproject/License.blic
  .beansproject/README.beans
  .beansproject/README.md
Owners: @Colack

Create elements.js
  src/applab/display/elements.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Update elements.js
  src/applab/display/elements.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Create fademaker.js
  src/applab/display/fademaker.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Create chat.js
  src/applab/deprecated/chat.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Create display.js
  src/applab/deprecated/display.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Create housegenerator.js
  src/applab/deprecated/housegenerator.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Create load.js
  src/applab/deprecated/load.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Create lock.js
  src/applab/deprecated/lock.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Create superauth.js
  src/applab/deprecated/superauth.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/values/array.js to src/applab/values/array.js
  src/applab/values/array.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/values/benchmark.js to src/applab/values/benchmark.js
  src/applab/values/benchmark.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/values/checks.js to src/applab/values/checks.js
  src/applab/values/checks.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/values/dumper.js to src/applab/values/dumper.js
  src/applab/values/dumper.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/values/math.js to src/applab/values/math.js
  src/applab/values/math.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

Rename src/lib/values/mocking.js to src/applab/values/mocking.js
  src/applab/values/mocking.js
Owners: @Colack, @Varrience, @MonsterYT-DaGamer

.github/CODEOWNERS:

*.beans @Colack
*.bgen @Colack
*.btype @Colack
*.blic @Colack
*.json @Colack @MonsterYT-DaGamer
*.editorconfig @Colack
*.get_maintainer.ignore @Colack
*.gitattributes @Colack
*.gitignore @Colack
*.yml @Colack
*.bat @Colack @MonsterYT-DaGamer
*.js @Colack @Varrience @MonsterYT-DaGamer
